@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}
.custom-container {
  width: 100%;
  position: relative;
  max-width: 100%;
  /* overflow: hidden; */
  height: auto;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}
