.bgRed{
    background-color: tomato;
    } 

    .animate-fade-in {
        animation: fadeIn 0.8s ease forwards; /* Increased animation duration */
      }
      @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateY(20px); /* Slide up effect */
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }