@keyframes fullPageBackgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
/* CSS Global */
html, body {
  height: 100%; /* Pastikan html dan body mengisi tinggi penuh */
  margin: 0; /* Hapus margin default */
  overflow: hidden; /* Mencegah scroll */
}

.full-page-background {
  display: flex;
  align-items: center; /* Memusatkan konten secara vertikal */
  justify-content: center; /* Memusatkan konten secara horizontal */
  height: 100vh; /* Mengisi tinggi penuh viewport */
  width: 100vw; /* Mengisi lebar penuh viewport */
  background-color: #f0f0f0; /* Ganti dengan warna latar belakang yang diinginkan */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center; /* Memusatkan konten dalam main */
  justify-content: center; /* Memusatkan konten dalam main */
  width: 100%; /* Memastikan lebar penuh */
  padding: 10px; /* Atur padding sesuai kebutuhan */
}

